[flake8]
per-file-ignores =
    src/calmjs/parse/tests/lexer.py:E501
    src/calmjs/parse/lexers/es5.py:E221
    src/calmjs/parse/lexers/es2015.py:E221

include =
    src/

exclude =
    src/calmjs/parse/parsers/*tab*.py,
    .git,
    .eggs,
    .env*,
    env*
