[flake8]
ignore =
    # W503: default ignore for some reason not applied;
    W503,

    # E221 multiple spaces before operator
    # - src/calmjs/parse/lexer.py,
    E221,

    # E501 line too long
    # - src/calmjs/parse/tests/test_es5_lexer.py
    E501,

include =
    src/

exclude =
    src/calmjs/parse/parsers/*tab*.py,
    .git,
    .eggs,
    .env*,
    env*
