environment:
  matrix:
    - PYTHON: "C:\\Python27"
      nodejs_version: "4.6"
    - PYTHON: "C:\\Python33"
      nodejs_version: "4.6"
    - PYTHON: "C:\\Python34"
      nodejs_version: "6.9"
    - PYTHON: "C:\\Python35"
      nodejs_version: "6.9"
    - PYTHON: "C:\\Python36"
      nodejs_version: "7.4"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - ps: Install-Product node $env:nodejs_version
  - "%PYTHON%\\python.exe -m pip install coverage"
  - "%PYTHON%\\python.exe setup.py install"

test_script:
  - python setup.py develop
  # seems like most environments default to cp1252, so this workaround
  # will need to be applied so that the tab files can be correctly
  # created.
  - python -m calmjs.parse.parsers.optimize
  - coverage run --include=src\* -m unittest calmjs.parse.tests.make_suite
  - coverage report -m

artifacts:
  - path: dist\*

build: off
