name: build

on:
  push:
    branches:
      - master
      - testing
      - 1.0.x
      - 1.1.x
      - 1.2.x
      - 1.3.x
    tags:
      - 1.3.4
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # This should include the latest 3 stable releases
        python-version: ["3.12", "3.13", "3.14"]
        include:
          # Use Linux only to test older releases to limit CI time
          - os: ubuntu-latest
            python-version: "3.9"
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"

          # Include pypy3.11 for Windows and Linux
          - os: windows-latest
            python-version: "pypy3.11"
          - os: ubuntu-latest
            python-version: "pypy3.11"


    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }} via setup-python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # must install all dependencies so the tab modules can be generated
        python -m pip install coverage flake8 ply setuptools
        python -m pip install -e .
    - name: Lint with flake8
      run: |
        flake8
    - name: Test with unittest
      run: |
        python -OO -m unittest calmjs.parse.tests.make_suite
        coverage run --include=src/* -m unittest calmjs.parse.tests.make_suite
    # Python 3.12 on Windows resulted in MemoryError here, so optional.
    - name: Coverage report
      run: |
        coverage report -m
      continue-on-error: true
    - name: Coveralls
      if: ${{ matrix.os == 'ubuntu-latest' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python -m pip install coveralls
        coveralls --service=github
